* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.container {
  box-sizing: border-box;
  width: 46%;
  min-width: 400px;
  margin: 2%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

button {
  border-width: 2px;
  border-radius: 5px;
  border-style: outset;
  margin: 2px 2px;
}

button:active {
  border-style: inset;
  background-color: rgb(210, 210, 210);
}

button.selected {
  border-style: inset;
  background-color: rgb(210, 210, 210);
}

label {
  display: inline-block;
  margin-left: 2%;
  width: 90px;
}

input {
  margin: 0 0;
}

.heading {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
}

.label {
  margin: 2px 0;
  margin-left: 2%;
  width: 40%;
}

.weight {
  border-width: 1px;
  border-radius: 5px;
  margin: 2px 0;
  width: 46;
}

.xBtn {
  margin: 0 0;
  width: 8%;
}

/* #file-upload-div {
  display: inline-block;
  width: 30%;
} */

/* #config-upload {
  width: 100%;
} */